:root {
    --input-height: 50px;
    --icon-padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body{
    height:100vh;
    width: auto;
    max-width: 584px;
    display: grid;
    place-items: center;
    margin: 0 auto;
}

nav {
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 2vw;
    font-size: small;
}

nav > * {
    margin: 5px;
    color: #333;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:link, a:visited {
    color:black;
}

.lookup{
    text-decoration: underline;
}

nav img{
    height: 40px;
    width: 40px;
    background-color: #333;
    border-radius: 50%;
}

form {
    justify-self: center;
}

.main-logo {
    width: 100%;
    padding: 0 20% 5vh;
}

.search-input input {
    width: 100%;
    height: var(--input-height);
    border-radius: calc(var(--input-height)/2);
    padding: 0 var(--input-height);
    border: 1px solid #dfe1e5;
    font-size: 16px;
}

.search-input input:focus, .search-input input:hover{
    outline: none;
    box-shadow: 0 1px 10 px rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0);
}

.search-input {
    position: relative;
}

.icon {
    position: absolute;
    top: 25%;
    opacity: 0.35;
}

.mic-icon {
    right: var(--icon-padding);
}

.search-icon {
    left: var(--icon-padding);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button {
    color: #3c4043;
    background-color: #f8f9fa;
    padding: 10px 15px;
    border: none;
    margin: 5vh 1vh 0;
    border-radius:  5px;
    border: 1px solid rgba(0,0,0,0);
}

.buttons button:hover{
    border: 1px solid #ddd;
    cursor: pointer;
    box-shadow: #333;
}

footer {
    left: 0;
    bottom: 0%;
    position: absolute;
    background-color: #f2f2f2;
    right: 0%;
}

footer > *{
    display: flex;
    padding-left: 2vw;
}

footer > p{
    padding-bottom: 2vw;
    margin-top: 15px;
}

footer > div{
    padding-bottom: 1vw;
    margin-left: 30;
}

form p {
    font-size: 13px;
    text-align: center;
    margin-top: 5vh;
}